{% load staticfiles %}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}




BODY {
	font: 10px Arial;
	background-color: #fff;
}

INPUT {
	margin: 0;
	padding: 0 0 0 1px;
	vertical-align: middle;
	font-size: 95%;
}
TABLE, TD {
	font-size: 100%;
}
FIELDSET {
	margin: 0;
	padding: 5px 5px;
}

LEGEND {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	padding-right: 5px;
}
LEGEND A {
	border: none!important;
	text-decoration: none;
	cursor: pointer;
}

.fieldset_off {
	border-bottom: none;
	border-right: none;
}

.fieldset_off DIV {
	display: none;
}


.source_desc {
	clear: left;
	float: left;
	width: 200px;
}

.source_url {
	float: left;
	width: 250px;
	height: 24px;
}
.source_url INPUT, .source_url SELECT {
	font-size: 95%;
	width: 240px;
	padding: 0 0 0 1px;
}

A.source_accept {
	display: block;
	float: left;
	padding-left: 18px;
	color: #888888!important;
	background-image: url(accept.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 90%;
	letter-spacing: -1px;
	border: none!important;
}
A.source_accept:hover {
	color: #333333!important;
}

#img_area_form {
	margin: 5px 0px;
	padding: 0;
	border: 0;
}

#form_container {
	white-space: nowrap;
	overflow: auto;
	height: 88px;
	border-top: solid 1px #bfc1c5;
}

#form_container INPUT, #form_container SELECT {
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0 0 0 1px;
}

.img_area {
	display: block;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

.img_id {
	font-weight: bold;
	width: 25px;
	padding: 0px 3px;
	text-align: right;
	border: none!important;
	background: none;
}
.img_active {
	border: none!important;
}
.img_coords {
	width: 90px;
}
.img_href {
	width: 122px;
}
.img_alt {
	width: 92px;
}
.img_target {
	width: 82px;
}

#pic_container {
	position: relative;
	width: 100%;
	height: 300px;
	border: solid 0px #efefef;
	overflow: auto;
}

#pic_container .imgmap_label {
	font: bold 10px Arial;
	color: #100;
	padding: 1px 2px;
}

#status_container {
	font-weight: bold!important;
	font-size: 90%;
	color: #e95949;
	width: 100%;
}

#button_container img {
	border: 0;
	padding: 0px 1px 0 0;
	cursor: pointer;
}

#fieldset_html {
	text-align: left;
}

#html_container {
	border: 1px solid black;
	margin: 5px 0;
	padding: 1px 0 0 1px;
	height: 100px;
	width: 100%;
}
