{% load static %}
<html>
<head>
    <title>PSAS</title>
    <meta name="viewport" content="width-device-width", initial-scale="1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script language="javascript" type="text/javascript" src="{% static 'js/AIRIntrospector.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/AIRAliases.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/imgmap_packed.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/default_interface3.js' %}"></script>

</head>
<body>
<p></p>
<div class="container-fluid">
    <div class="block1">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>