{% extends 'part1/base.html' %}

{% block content %}
{% load staticfiles %}

<style type="text/css">
.jumbotron{
    background-image: url("{% static 'gif\cloud.png' %}");
    background-size:cover;
}
.container {
     margin: auto;
     width: 100%;
     padding: 10px;
}
</style>
<!-- Upload form. Note enctype attribute! -->
<div class="jumbotron">
    <div class="container">
        <h1><a href='{% url "download" %}'>DOWNLOAD</a></h1>
    </div>
</div>
<a href="{% url 'p0' %}" class="btn btn-default btn-block">back to start</a>
{% endblock %}