<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}Django Web Programming{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

<div id="header">
    <h2 class="maintitle">Easy&amp;Fast Django Web Programming</h2>
    <h4 class="welcome">Welcome, <a href="#">shkim</a> /
                <a href="#">Change Password</a> /
                <a href="#">Logout</a>
    </h4>
</div>

<div id="menu">
    <li><a href="{% url 'photo:index' %}">Photo</a></li>

    <li>Add&bigtriangledown;
        <ul>
            <li><a href="{% url 'photo:album_add' %}">Album</a></li>
            <li><a href="{% url 'photo:photo_add' %}">Photo</a></li>
        </ul>
    </li>
    <li>Change&bigtriangledown;
        <ul>
            <li><a href="{% url 'photo:album_change' %}">Album</a></li>
            <li><a href="{% url 'photo:photo_change' %}">Photo</a></li>
        </ul>
    </li>

    <li><a href="{% url 'admin:index' %}">Admin</a></li>
</div>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
